/* TODO: Mudar para SASS */

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    background-color: #808080;
}

.logo {
    width: 150px;
    height: auto;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
}

.btn-color {
    background-color: #c71585 !important;
    color: white !important;
}

.img-carousel {
    height: auto;
    background-image: linear-gradient(red, yellow, blue) !important;
}

.message-healthy-body {
    z-index: 100;
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    /* TODO: Ajustar */
    margin-top: 280px;
    margin-left: 200px;

}

.message-healthy-body h2, .message-healthy-body p {
    color: white;
}

.card-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px 0;
}

.training-card {
    width: 18rem;
    padding: 0 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: none !important;
}

.img-training {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* TODO: Alinhar botão card */

.training-message {
    height: auto;
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.training-message img {
    opacity: 0.8;
}

.quote {
    position: absolute;
    color: white;
    font-size: 30px;
}

#plans {
    text-align: center;
    padding-top: 60px;
}

.card-plan {
    margin: 0 10px;
    width: 300px;
    height: auto;
}

.card-body-plan {
    display: flex;
    flex-flow: column wrap;
}

.card-header-title {
    font-size: 22px;
    font-weight: 300;
}

.card-title {
    font-size: 26px;
}

.price {
    font-weight: bold;
}

.card-text-plan {
    width: 250px;
    height: auto;
    margin: 3.5px 0;
}

.btn-plan {
    margin-top: 15px;
}