#header {
    background-color: #808080;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.logo {
    width: 150px;
    height: auto;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: white !important;
}

.btn-color {
    background-color: #c71585 !important;
    color: white !important;
}

.img-carousel {
    height: auto;
    background-image: linear-gradient(red, yellow, blue) !important;
}

.message-healthy-body {
    z-index: 100;
    position: relative;

    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;

    /* TODO: Ajustar */
    margin-top: 280px;
    margin-left: 200px;

}

.message-healthy-body h2, .message-healthy-body p {
    color: white;
}

#training {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 50px 0;
}

.training-card {
    width: 18rem;
    padding: 0 10px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    border: none !important;
}

.img-training {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

/* TODO: Alinhar botão card */

