<div class="main" *ngIf="travelInformations != '{}' && travelInformations != null">
    <p>País de origem: {{ travelInformations.originCountry }}</p>
    <p>Cidade de origem: {{ travelInformations.originCity }}</p>
    <p>País de destino: {{ travelInformations.destinyCountry }}</p>
    <p>Cidade de destino: {{ travelInformations.destinyCity }}</p>
    <p>Tipo de vôo: {{ planeClass }}</p>
    <p>Adultos: {{ travelInformations.adults }}</p>
    <p>Crianças: {{ travelInformations.childs }}</p>

    <p>Distância: km</p>
    <p>Valor da passagem por adulto: R$</p>
    <p>Valor da passagem por criança: R$</p>
    <p>Valor total da passagem: R$</p>

    <p>Milhas utilizadas: {{ travelInformations.miles }}</p>
    <p>Valor abatido pelas milhas: R$</p>
</div>

<p *ngIf="travelInformations == '{}' || travelInformations == null">Preencha as informações da sua viagem</p>

