<div class="main">
    <form>
        <div class="input-select">
            <p>País de origem:</p>
            <select class="form-select" [(ngModel)]="originCountry" name="originCountry" (ngModelChange)="onChangeOriginCountry($event)">
                <option selected>Selecione o país de origem</option>
                <option *ngFor="let country of countries">{{ country.country }}</option>
            </select>
        </div>
        <div class="input-select">
            <p>País de destino:</p>
            <select class="form-select" [(ngModel)]="destinyCountry" name="destinyCountry" (ngModelChange)="onChangeDestinyCountry($event)">
                <option selected>Selecione o país de destino</option>
                <option *ngFor="let country of countries">{{ country.country }}</option>
            </select>
        </div>
        <div class="input-select">
            <p>Cidade de origem:</p>
            <select class="form-select">
                <option *ngFor="let country of originCountryCities">{{ country.city }}</option>
            </select>
        </div>
        <div class="input-select">
            <p>Cidade de destino:</p>
            <select class="form-select">
                <option *ngFor="let country of destinyCountryCities">{{ country.city }}</option>
            </select>
        </div>
        <div class="input-number">
            <label for="adults">Adultos:</label>
            <button type="button">+</button>
            <input id="adults" type="number">
            <button type="button">-</button>
        </div>
        <div class="input-number">
            <label for="childs">Crianças:</label>
            <button type="button">+</button>
            <input id="childs" type="number">
            <button type="button">-</button>
        </div>
        <div class="input-radio">
            <input id="economic-class" type="radio">
            <label for="economic-class">Econômica</label>
        </div>
        <div class="input-radio">
            <input id="executive-class" type="radio">
            <label for="executive-class">Executiva</label>
        </div>
        <div class="input-range">
            <label for="miles" class="form-label">Utilizar 0 milhas: </label>
            <input type="range" class="form-range" id="miles">
        </div>
    </form>
</div>