.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-select, .input-range {
    margin: 10px 0;
}

.input-number, .input-radio {
    margin: 20px 0;
}

.input-radio label {
    padding-left: 10px;
}

svg {
    margin: 15px;
}

.alert-warning {
    margin: 20px;
}

button {
    margin-top: 10px;
}