<div class="main">
    <div class="input-select">
        <p>País de origem:</p>
        <select class="form-select">
            <option selected>Brasil</option>
            <option value="Estados Unidos">Estados Unidos</option>
        </select>
    </div>
    <div class="input-select">
        <p>País de destino:</p>
        <select class="form-select">
            <option selected>Brasil</option>
            <option value="Estados Unidos">Estados Unidos</option>
        </select>
    </div>
    <div class="input-select">
        <p>Cidade de origem:</p>
        <select class="form-select">
            <option selected>Joinville</option>
            <option value="Florianópolis">Florianópolis</option>
        </select>
    </div>
    <div class="input-select">
        <p>Cidade de origem:</p>
        <select class="form-select">
            <option selected>Joinville</option>
            <option value="Florianópolis">Florianópolis</option>
        </select>
    </div>
    <div class="input-number">
        <label for="adults">Adultos:</label>
        <button type="button">+</button>
        <input id="adults" type="number">
        <button type="button">-</button>
    </div>
    <div class="input-number">
        <label for="childs">Crianças:</label>
        <button type="button">+</button>
        <input id="childs" type="number">
        <button type="button">-</button>
    </div>
    <div class="input-radio">
        <input id="economic-class" type="radio">
        <label for="economic-class">Econômica</label>
    </div>
    <div class="input-radio">
        <input id="executive-class" type="radio">
        <label for="executive-class">Executiva</label>
    </div>
    <div class="input-range">
        <label for="miles" class="form-label">Utilizar 0 milhas: </label>
        <input type="range" class="form-range" id="miles">
    </div>
</div>