body {
    background-color: rgb(252, 255, 214);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    margin: 10px 0;
}

img {
    border-radius: 5%;
}

#nav {   
    min-height: 50px;
    background-color: rgb(207, 43, 43);
    padding: 0 20%;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#nav > a {
    color: white;
}

#main {
    max-width: 1148px;
    margin: 0 auto;
}

#titulo-principal {
    text-align: center;
}

#origem, #principal {
    display: flex;
    flex-flow: row nowrap;
}

#principal {
    justify-content: space-between;
    margin-bottom: 10px;
}

.foto-de-bolo {
    width: 100%;
    max-width: 300px;
    max-height: 230px;
}

.foto-bolo-chocolate {
    width: auto;
    max-height: 250px;
    float: left;
    margin-right: 20px;
}

.origem-do-bolo {
    padding: 30px;
}

.sobre {
    padding: auto;
}

#quote {
    background-color: rgb(255, 99, 71);
    color: white;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

#ingredientes {
    margin: 20px 10px;
}

.ingredientes {
    display: flex;
    flex-direction: column;
}

.ingredientes ul {
    margin-left: -20px;
}

.outros-bolos {
    margin-left: 80px;
}

.outros-bolos li {
    margin-left: -35px;
}

#bolo-chocolate {
    justify-content: space-between;
}

#bolo-chocolate h2 {
    text-align: center;
}

.receita-bolo-chocolate {
    display: flex;
    align-items: center;
}

.receita-bolo-chocolate ul, .outros-bolos ul {
    list-style-type: none;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-contato {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.form-contato input {
    height: 20px;
}

.form-contato label, .form-contato input {
    margin: 5px 0;
}

.saiba-mais {
    max-width: auto;
}

.botao {
    display: flex;
    justify-content: flex-end;
}

.botao-enviar {
    margin: 25px 0;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 15px;
    width: 100px;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5%;
}

.botao-enviar:hover {
    opacity: 0.8;
}

#footer {
    background-color: #3e3e3e;
    color: lightgray;
    padding: 10px 11%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.social-icon {
    max-width: 40px;
    max-height: 40px;
    padding: 5px;
}

.social-icon:hover {
    cursor: pointer;
}

@media (max-width: 750px) {
    .receita-bolo-chocolate, #origem {
        display: flex;
        flex-direction: column;
    }

    #origem {
        align-items: center;
    }
}

@media (max-width: 680px) {
    #footer {
        display: flex;
        flex-direction: column;
    }
}