<section>
    <h4>Cardápio</h4>
    <p>Total de pedidos: </p>
    <p class="request" routerLink="/requests">Ver pedido</p>
    <p>R$ </p>
    <section>
        <p>Sucos</p>
        <ul *ngFor="let juice of juices; let i = index">
            <li>{{ juice.name }}</li>
            <li>R$ {{ juice.price }}</li>
        </ul>
        <p>Açaí</p>
        <ul *ngFor="let itemAcai of acai">
            <li>{{ itemAcai.name }}</li>
            <li>R$ {{ itemAcai.price }}</li>
        </ul>
        <p>Sanduíches</p>
        <ul *ngFor="let sandwich of sandwhices">
            <li>{{ sandwich.name }}</li>
            <li>R$ {{ sandwich.price }}</li>
        </ul>
    </section>
</section>