h4 {
    margin: 20px;
    text-align: center;
}

.head {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style: none;
}

li {
    cursor: pointer;
}

.title-request {
    margin: 20px;
    font-size: 18px;
    font-style: italic;
    font-weight: bold;
}