<section>
    <h4>Cardápio</h4>
    <p>Total de pedidos: {{ allRequests }}</p>
    <p class="request" routerLink="/requests">Ver pedido</p>
    <p>R$ {{ totalAllRequests }}</p>
    <section>
        <p>Sucos</p>
        <ul *ngFor="let juice of juices">
            <li (click)="juiceRequest(juice)">{{ juice.name }}</li>
            <li (click)="juiceRequest(juice)">R$ {{ juice.price }}</li>
        </ul>
        <p>Açaí</p>
        <ul *ngFor="let itemAcai of acai">
            <li (click)="acaiRequest(itemAcai)">{{ itemAcai.name }}</li>
            <li (click)="acaiRequest(itemAcai)">R$ {{ itemAcai.price }}</li>
        </ul>
        <p>Sanduíches</p>
        <ul *ngFor="let sandwich of sandwhices">
            <li (click)="sandwichRequest(sandwich)" >{{ sandwich.name }}</li>
            <li (click)="sandwichRequest(sandwich)" >R$ {{ sandwich.price }}</li>
        </ul>
    </section>
</section>