<section>
    <h4>Cardápio</h4>
    <div class="head">
        <p class="title-head">Total de pedidos: {{ allRequests }}</p>
        <button class="btn btn-outline-primary btn-sm" routerLink="/requests">Ver pedido</button>
        <p class="title-head">R$ {{ totalAllRequests | number: '1.2-2' }}</p>
    </div>
    <section>
        <p class="title-request">Sucos</p>
        <ul class="list-group" *ngFor="let juice of juices">
            <li class="list-group-item" (click)="juiceRequest(juice)">{{ juice.name }} | R$ {{ juice.price }}</li>
        </ul>
        <p class="title-request">Açaí</p>
        <ul class="list-group" *ngFor="let itemAcai of acai">
            <li class="list-group-item" (click)="acaiRequest(itemAcai)">{{ itemAcai.name }} | R$ {{ itemAcai.price }}
            </li>
        </ul>
        <p class="title-request">Sanduíches</p>
        <ul class="list-group" *ngFor="let sandwich of sandwhices">
            <li class="list-group-item" (click)="sandwichRequest(sandwich)">{{ sandwich.name }} R$ {{ sandwich.price }}
            </li>
        </ul>
    </section>
</section>