p {
    text-align: center;
    margin: 30px 0;
    font-size: 30px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label, .input {
    margin: 5px;
}

.buttons {
    margin: 10px 0;
}

.buttons button {
    margin: 0 10px;
}