<section>
    <p>Adicionar contato</p>
    <form [formGroup]="addContactForm" class="form" (ngSubmit)="addContact()">
        <div class="input">
            <label for="name">Nome</label>
            <input type="text" id="name" formControlName="name">
        </div>
        <div class="input">
            <label for="phone">Telefone</label>
            <input type="text" id="phone" formControlName="phone">
        </div>
        <div>
            <button [disabled]="!addContactForm.valid" type="submit">Adicionar</button>
            <button type="button" routerLink="/contacts">Voltar</button>
        </div>
    </form>
</section>

