<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tic tac toe</title>
</head>

<body>
  <main id="main">
    <h1>Tic tac toe</h1>
    <section id="game-tic-tac">
      <p class="player">Jogador atual: X</p>
      <p class="winner">Vencedor: </p>
      <button class="restart-btn" type="button">Reiniciar o jogo</button>
      <table class="table-game">
        <tr>
          <td class="column-game">X</td>
          <td class="column-game"></td>
          <td class="column-game"></td>
        </tr>
        <tr>
          <td class="column-game"></td>
          <td class="column-game">O</td>
          <td class="column-game">X</td>
        </tr>
        <tr>
          <td class="column-game"></td>
          <td class="column-game"></td>
          <td class="column-game"></td>
        </tr>
      </table>
    </section>
  </main>
</body>

</html>