body {
    background-color: rgb(252, 255, 214);
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
}

p {
    margin: 0;
}

h1 {
    text-align: center;
}

h2 {
    margin: 10px 0;
}

img {
    border-radius: 5%;
}

#nav {   
    min-height: 50px;
    background-color: rgb(207, 43, 43);
    padding: 0 20%;
    position: sticky;
    top: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
}

#nav > a {
    color: white;
}

#main {
    max-width: 1148px;
    margin: 0 auto;
}

#main__title {
    text-align: center;
}

#main__section, #principal {
    display: flex;
    flex-flow: row nowrap;
}

.main__img {
    width: 100%;
    max-width: 300px;
    max-height: 230px;
}

.chocolat-cake__img {
    width: auto;
    max-height: 250px;
    float: left;
    margin-right: 20px;
}

.main__section-cake {
    padding: 30px;
}

#quote {
    background-color: rgb(255, 99, 71);
    color: white;
    padding: 20px;
    margin-top: 10px;
    text-align: center;
}

.chocolat-cake__make {
    display: flex;
    flex-direction: column;
}

.chocolat-cake__make ul {
    margin-left: -20px;
}

.cakes__section {
    margin-left: 80px;
}

.cakes__section li {
    margin-left: -35px;
}

#chocolat-cake {
    justify-content: space-between;
}

#chocolat-cake h2 {
    text-align: center;
}

.chocolat-cake__section-make {
    display: flex;
    align-items: center;
}

.chocolat-cake__section-make ul, .cakes__section ul {
    list-style-type: none;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact__form {
    display: flex;
    flex-direction: column;
    width: 30%;
}

.contact__form input {
    height: 20px;
}

.contact__form label, .contact__form input {
    margin: 5px 0;
}

.saiba-mais {
    max-width: auto;
}

.contact__button {
    display: flex;
    justify-content: flex-end;
}

.contact__button-send {
    margin: 25px 0;
    cursor: pointer;
    text-transform: capitalize;
    font-size: 15px;
    width: 100px;
    padding: 10px;
    background-color: brown;
    color: white;
    border: none;
    border-radius: 5%;
}

.contact__button-send:hover {
    opacity: 0.8;
}

#footer {
    background-color: #3e3e3e;
    color: lightgray;
    padding: 10px 11%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.footer__social-icon {
    max-width: 40px;
    max-height: 40px;
    padding: 5px;
}

.footer__social-icon:hover {
    cursor: pointer;
}

@media (max-width: 750px) {
    .chocolat-cake__section-make, #main__section {
        display: flex;
        flex-direction: column;
    }

    #main__section {
        align-items: center;
    }
}

@media (max-width: 680px) {
    #footer {
        display: flex;
        flex-direction: column;
    }
}