<main id="main">
    <section id="sizes">
        <p class="title">Tamanho</p>
        <div class="input">
            <input id="size-300" type="radio" />
            <label for="size-300">300ml</label>
        </div>
        <div class="input">
            <input id="size-500" type="radio" />
            <label for="size-500">500ml</label>
        </div>
    </section>
    <section id="add">
        <p class="title">Acréscimos</p>
        <p class="subtitle">Escolha até 3</p>
        <div class="input">
            <input id="leite-condensado" type="checkbox" />
            <label id="leite-condensado">Leite condensado</label>
        </div>
        <div class="input">
            <input for="banana" type="checkbox" />
            <label for="banana">Banana</label>
        </div>
        <div class="input">
            <input for="granola" type="checkbox" />
            <label for="granola">Granola</label>
        </div>
        <div class="input">
            <input for="morango" type="checkbox" />
            <label for="morango">Morango</label>
        </div>
        <div class="input">
            <input for="leite-po" type="checkbox" />
            <label for="leite-po">Leite em pó</label>
        </div>
        <div class="input">
            <input for="coco" type="checkbox" />
            <label for="coco">Côco</label>
        </div>
        <div class="input">
            <input for="castanha" type="checkbox" />
            <label for="castanha">Castanha de cajú</label>
        </div>
    </section>
</main>

