<section>
  <form [formGroup]="formNewExercise" (ngSubmit)="addExercise()">
    <div class="input">
      <label for="name">Nome do exercício</label>
      <input type="text" id="name" formControlName="name" [(ngModel)]="name">
    </div>
    <div class="input">
      <label for="preparation">Tempo de preparação</label>
      <input type="number" id="preparation" formControlName="preparation" [(ngModel)]="preparation">
    </div>
    <div class="input">
      <label for="duration">Tempo de duração</label>
      <input type="number" id="duration" formControlName="duration" [(ngModel)]="duration">
    </div>
    <div class="input">
      <label for="resting">Tempo de descanso</label>
      <input type="number" id="resting" formControlName="resting" [(ngModel)]="resting">
    </div>
    <div class="input">
      <label for="repetion">Número de repetições</label>
      <input type="number" id="repetion" formControlName="repetition" [(ngModel)]="repetition">
    </div>
    <button [disabled]="!formNewExercise.valid" type="submit"><a>Adicionar exercício</a></button>
  </form>
  
  <ul *ngFor="let exercise of exercises; let i = index">
    <li>Nome: {{ exercise.name }}</li>
    <li>Preparação: {{ exercise.preparation }}</li>
    <li>Duração: {{ exercise.duration }}</li>
    <li>Descanso: {{ exercise.resting }}</li>
    <li>Repetição: {{ exercise.repetition }}</li>
    <button type="button" (click)="deleteExercise(i)"><a>Excluir exercício</a></button>
  </ul>
</section>